[data-color="blue"]:root {
  --md-source: 27, 69, 140;
  /* light */
  --md-sys-color-primary-light: 52, 92, 168;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 217, 226, 255;
  --md-sys-color-on-primary-container-light: 0, 26, 67;
  --md-sys-color-primary-fixed-light: 217, 226, 255;
  --md-sys-color-on-primary-fixed-light: 0, 26, 67;
  --md-sys-color-primary-fixed-dim-light: 175, 198, 255;
  --md-sys-color-on-primary-fixed-variant-light: 20, 68, 143;
  --md-sys-color-secondary-light: 87, 94, 113;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 219, 226, 249;
  --md-sys-color-on-secondary-container-light: 20, 27, 44;
  --md-sys-color-secondary-fixed-light: 219, 226, 249;
  --md-sys-color-on-secondary-fixed-light: 20, 27, 44;
  --md-sys-color-secondary-fixed-dim-light: 191, 198, 220;
  --md-sys-color-on-secondary-fixed-variant-light: 63, 71, 89;
  --md-sys-color-tertiary-light: 114, 85, 115;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 252, 215, 251;
  --md-sys-color-on-tertiary-container-light: 42, 19, 45;
  --md-sys-color-tertiary-fixed-light: 252, 215, 251;
  --md-sys-color-on-tertiary-fixed-light: 42, 19, 45;
  --md-sys-color-tertiary-fixed-dim-light: 223, 187, 222;
  --md-sys-color-on-tertiary-fixed-variant-light: 88, 62, 90;
  --md-sys-color-error-light: 186, 26, 26;
  --md-sys-color-error-container-light: 255, 218, 214;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-on-error-container-light: 65, 0, 2;
  --md-sys-color-background-light: 254, 251, 255;
  --md-sys-color-on-background-light: 27, 27, 31;
  --md-sys-color-outline-light: 117, 119, 128;
  --md-sys-color-inverse-on-surface-light: 242, 240, 244;
  --md-sys-color-inverse-surface-light: 48, 48, 52;
  --md-sys-color-inverse-primary-light: 175, 198, 255;
  --md-sys-color-shadow-light: 0, 0, 0;
  --md-sys-color-surface-tint-light: 52, 92, 168;
  --md-sys-color-outline-variant-light: 197, 198, 208;
  --md-sys-color-scrim-light: 0, 0, 0;
  --md-sys-color-surface-light: 250, 248, 253;
  --md-sys-color-on-surface-light: 27, 27, 31;
  --md-sys-color-surface-variant-light: 225, 226, 236;
  --md-sys-color-on-surface-variant-light: 68, 71, 79;
  --md-sys-color-surface-container-highest-light: 227, 226, 230;
  --md-sys-color-surface-container-high-light: 233, 231, 236;
  --md-sys-color-surface-container-light: 239, 237, 241;
  --md-sys-color-surface-container-low-light: 245, 243, 247;
  --md-sys-color-surface-container-lowest-light: 255, 255, 255;
  --md-sys-color-surface-dim-light: 219, 217, 221;
  --md-sys-color-surface-bright-light: 250, 248, 253;
  /* dark */
  --md-sys-color-primary-dark: 175, 198, 255;
  --md-sys-color-on-primary-dark: 0, 45, 108;
  --md-sys-color-primary-container-dark: 20, 68, 143;
  --md-sys-color-on-primary-container-dark: 217, 226, 255;
  --md-sys-color-primary-fixed-dark: 217, 226, 255;
  --md-sys-color-on-primary-fixed-dark: 0, 26, 67;
  --md-sys-color-primary-fixed-dim-dark: 175, 198, 255;
  --md-sys-color-on-primary-fixed-variant-dark: 20, 68, 143;
  --md-sys-color-secondary-dark: 191, 198, 220;
  --md-sys-color-on-secondary-dark: 41, 48, 65;
  --md-sys-color-secondary-container-dark: 63, 71, 89;
  --md-sys-color-on-secondary-container-dark: 219, 226, 249;
  --md-sys-color-secondary-fixed-dark: 219, 226, 249;
  --md-sys-color-on-secondary-fixed-dark: 20, 27, 44;
  --md-sys-color-secondary-fixed-dim-dark: 191, 198, 220;
  --md-sys-color-on-secondary-fixed-variant-dark: 63, 71, 89;
  --md-sys-color-tertiary-dark: 223, 187, 222;
  --md-sys-color-on-tertiary-dark: 64, 40, 67;
  --md-sys-color-tertiary-container-dark: 88, 62, 90;
  --md-sys-color-on-tertiary-container-dark: 252, 215, 251;
  --md-sys-color-tertiary-fixed-dark: 252, 215, 251;
  --md-sys-color-on-tertiary-fixed-dark: 42, 19, 45;
  --md-sys-color-tertiary-fixed-dim-dark: 223, 187, 222;
  --md-sys-color-on-tertiary-fixed-variant-dark: 88, 62, 90;
  --md-sys-color-error-dark: 255, 180, 171;
  --md-sys-color-error-container-dark: 147, 0, 10;
  --md-sys-color-on-error-dark: 105, 0, 5;
  --md-sys-color-on-error-container-dark: 255, 218, 214;
  --md-sys-color-background-dark: 27, 27, 31;
  --md-sys-color-on-background-dark: 227, 226, 230;
  --md-sys-color-outline-dark: 142, 144, 153;
  --md-sys-color-inverse-on-surface-dark: 27, 27, 31;
  --md-sys-color-inverse-surface-dark: 227, 226, 230;
  --md-sys-color-inverse-primary-dark: 52, 92, 168;
  --md-sys-color-shadow-dark: 0, 0, 0;
  --md-sys-color-surface-tint-dark: 175, 198, 255;
  --md-sys-color-outline-variant-dark: 68, 71, 79;
  --md-sys-color-scrim-dark: 0, 0, 0;
  --md-sys-color-surface-dark: 18, 19, 22;
  --md-sys-color-on-surface-dark: 199, 198, 202;
  --md-sys-color-surface-variant-dark: 68, 71, 79;
  --md-sys-color-on-surface-variant-dark: 197, 198, 208;
  --md-sys-color-surface-container-highest-dark: 52, 53, 56;
  --md-sys-color-surface-container-high-dark: 41, 42, 45;
  --md-sys-color-surface-container-dark: 31, 31, 35;
  --md-sys-color-surface-container-low-dark: 27, 27, 31;
  --md-sys-color-surface-container-lowest-dark: 13, 14, 17;
  --md-sys-color-surface-dim-dark: 18, 19, 22;
  --md-sys-color-surface-bright-dark: 56, 57, 60;
}
