:root {
  --md-source: 121, 165, 27;
  /* light */
  --md-sys-color-primary-light: 73, 104, 0;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 193, 243, 100;
  --md-sys-color-on-primary-container-light: 19, 31, 0;
  --md-sys-color-primary-fixed-light: 193, 243, 100;
  --md-sys-color-on-primary-fixed-light: 19, 31, 0;
  --md-sys-color-primary-fixed-dim-light: 166, 214, 75;
  --md-sys-color-on-primary-fixed-variant-light: 54, 78, 0;
  --md-sys-color-secondary-light: 89, 98, 72;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 221, 230, 198;
  --md-sys-color-on-secondary-container-light: 23, 30, 10;
  --md-sys-color-secondary-fixed-light: 221, 230, 198;
  --md-sys-color-on-secondary-fixed-light: 23, 30, 10;
  --md-sys-color-secondary-fixed-dim-light: 193, 202, 171;
  --md-sys-color-on-secondary-fixed-variant-light: 66, 74, 50;
  --md-sys-color-tertiary-light: 57, 102, 97;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 188, 236, 229;
  --md-sys-color-on-tertiary-container-light: 0, 32, 29;
  --md-sys-color-tertiary-fixed-light: 188, 236, 229;
  --md-sys-color-on-tertiary-fixed-light: 0, 32, 29;
  --md-sys-color-tertiary-fixed-dim-light: 160, 208, 201;
  --md-sys-color-on-tertiary-fixed-variant-light: 31, 78, 73;
  --md-sys-color-error-light: 186, 26, 26;
  --md-sys-color-error-container-light: 255, 218, 214;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-on-error-container-light: 65, 0, 2;
  --md-sys-color-background-light: 254, 252, 244;
  --md-sys-color-on-background-light: 27, 28, 23;
  --md-sys-color-outline-light: 118, 120, 107;
  --md-sys-color-inverse-on-surface-light: 242, 241, 233;
  --md-sys-color-inverse-surface-light: 48, 49, 44;
  --md-sys-color-inverse-primary-light: 166, 214, 75;
  --md-sys-color-shadow-light: 0, 0, 0;
  --md-sys-color-surface-tint-light: 73, 104, 0;
  --md-sys-color-outline-variant-light: 198, 200, 185;
  --md-sys-color-scrim-light: 0, 0, 0;
  --md-sys-color-surface-light: 251, 249, 242;
  --md-sys-color-on-surface-light: 27, 28, 23;
  --md-sys-color-surface-variant-light: 226, 228, 212;
  --md-sys-color-on-surface-variant-light: 69, 72, 61;
  --md-sys-color-surface-container-highest-light: 228, 227, 219;
  --md-sys-color-surface-container-high-light: 233, 232, 225;
  --md-sys-color-surface-container-light: 239, 238, 230;
  --md-sys-color-surface-container-low-light: 245, 244, 236;
  --md-sys-color-surface-container-lowest-light: 255, 255, 255;
  --md-sys-color-surface-dim-light: 219, 218, 211;
  --md-sys-color-surface-bright-light: 251, 249, 242;
  /* dark */
  --md-sys-color-primary-dark: 166, 214, 75;
  --md-sys-color-on-primary-dark: 36, 54, 0;
  --md-sys-color-primary-container-dark: 54, 78, 0;
  --md-sys-color-on-primary-container-dark: 193, 243, 100;
  --md-sys-color-primary-fixed-dark: 193, 243, 100;
  --md-sys-color-on-primary-fixed-dark: 19, 31, 0;
  --md-sys-color-primary-fixed-dim-dark: 166, 214, 75;
  --md-sys-color-on-primary-fixed-variant-dark: 54, 78, 0;
  --md-sys-color-secondary-dark: 193, 202, 171;
  --md-sys-color-on-secondary-dark: 44, 51, 29;
  --md-sys-color-secondary-container-dark: 66, 74, 50;
  --md-sys-color-on-secondary-container-dark: 221, 230, 198;
  --md-sys-color-secondary-fixed-dark: 221, 230, 198;
  --md-sys-color-on-secondary-fixed-dark: 23, 30, 10;
  --md-sys-color-secondary-fixed-dim-dark: 193, 202, 171;
  --md-sys-color-on-secondary-fixed-variant-dark: 66, 74, 50;
  --md-sys-color-tertiary-dark: 160, 208, 201;
  --md-sys-color-on-tertiary-dark: 1, 55, 51;
  --md-sys-color-tertiary-container-dark: 31, 78, 73;
  --md-sys-color-on-tertiary-container-dark: 188, 236, 229;
  --md-sys-color-tertiary-fixed-dark: 188, 236, 229;
  --md-sys-color-on-tertiary-fixed-dark: 0, 32, 29;
  --md-sys-color-tertiary-fixed-dim-dark: 160, 208, 201;
  --md-sys-color-on-tertiary-fixed-variant-dark: 31, 78, 73;
  --md-sys-color-error-dark: 255, 180, 171;
  --md-sys-color-error-container-dark: 147, 0, 10;
  --md-sys-color-on-error-dark: 105, 0, 5;
  --md-sys-color-on-error-container-dark: 255, 218, 214;
  --md-sys-color-background-dark: 27, 28, 23;
  --md-sys-color-on-background-dark: 228, 227, 219;
  --md-sys-color-outline-dark: 143, 146, 132;
  --md-sys-color-inverse-on-surface-dark: 27, 28, 23;
  --md-sys-color-inverse-surface-dark: 228, 227, 219;
  --md-sys-color-inverse-primary-dark: 73, 104, 0;
  --md-sys-color-shadow-dark: 0, 0, 0;
  --md-sys-color-surface-tint-dark: 166, 214, 75;
  --md-sys-color-outline-variant-dark: 69, 72, 61;
  --md-sys-color-scrim-dark: 0, 0, 0;
  --md-sys-color-surface-dark: 19, 20, 15;
  --md-sys-color-on-surface-dark: 199, 199, 191;
  --md-sys-color-surface-variant-dark: 69, 72, 61;
  --md-sys-color-on-surface-variant-dark: 198, 200, 185;
  --md-sys-color-surface-container-highest-dark: 52, 53, 48;
  --md-sys-color-surface-container-high-dark: 41, 42, 38;
  --md-sys-color-surface-container-dark: 31, 32, 27;
  --md-sys-color-surface-container-low-dark: 27, 28, 23;
  --md-sys-color-surface-container-lowest-dark: 13, 15, 10;
  --md-sys-color-surface-dim-dark: 19, 20, 15;
  --md-sys-color-surface-bright-dark: 57, 58, 52;
}
