:root {
  --md-source: 206, 219, 146;
  /* light */
  --md-sys-color-primary-light: 85, 101, 0;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 216, 237, 124;
  --md-sys-color-on-primary-container-light: 24, 30, 0;
  --md-sys-color-primary-fixed-light: 216, 237, 124;
  --md-sys-color-on-primary-fixed-light: 24, 30, 0;
  --md-sys-color-primary-fixed-dim-light: 188, 208, 99;
  --md-sys-color-on-primary-fixed-variant-light: 64, 76, 0;
  --md-sys-color-secondary-light: 92, 97, 69;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 225, 230, 195;
  --md-sys-color-on-secondary-container-light: 25, 29, 8;
  --md-sys-color-secondary-fixed-light: 225, 230, 195;
  --md-sys-color-on-secondary-fixed-light: 25, 29, 8;
  --md-sys-color-secondary-fixed-dim-light: 197, 201, 168;
  --md-sys-color-on-secondary-fixed-variant-light: 69, 73, 47;
  --md-sys-color-tertiary-light: 58, 102, 92;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 189, 236, 223;
  --md-sys-color-on-tertiary-container-light: 0, 32, 27;
  --md-sys-color-tertiary-fixed-light: 189, 236, 223;
  --md-sys-color-on-tertiary-fixed-light: 0, 32, 27;
  --md-sys-color-tertiary-fixed-dim-light: 161, 208, 196;
  --md-sys-color-on-tertiary-fixed-variant-light: 33, 78, 69;
  --md-sys-color-error-light: 186, 26, 26;
  --md-sys-color-error-container-light: 255, 218, 214;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-on-error-container-light: 65, 0, 2;
  --md-sys-color-background-light: 255, 252, 244;
  --md-sys-color-on-background-light: 27, 28, 23;
  --md-sys-color-outline-light: 119, 120, 106;
  --md-sys-color-inverse-on-surface-light: 243, 241, 232;
  --md-sys-color-inverse-surface-light: 48, 49, 43;
  --md-sys-color-inverse-primary-light: 188, 208, 99;
  --md-sys-color-shadow-light: 0, 0, 0;
  --md-sys-color-surface-tint-light: 85, 101, 0;
  --md-sys-color-outline-variant-light: 199, 200, 183;
  --md-sys-color-scrim-light: 0, 0, 0;
  --md-sys-color-surface-light: 252, 249, 241;
  --md-sys-color-on-surface-light: 27, 28, 23;
  --md-sys-color-surface-variant-light: 227, 227, 211;
  --md-sys-color-on-surface-variant-light: 70, 72, 60;
  --md-sys-color-surface-container-highest-light: 229, 226, 218;
  --md-sys-color-surface-container-high-light: 234, 232, 224;
  --md-sys-color-surface-container-light: 240, 238, 229;
  --md-sys-color-surface-container-low-light: 246, 244, 235;
  --md-sys-color-surface-container-lowest-light: 255, 255, 255;
  --md-sys-color-surface-dim-light: 220, 218, 210;
  --md-sys-color-surface-bright-light: 252, 249, 241;
  /* dark */
  --md-sys-color-primary-dark: 188, 208, 99;
  --md-sys-color-on-primary-dark: 43, 52, 0;
  --md-sys-color-primary-container-dark: 64, 76, 0;
  --md-sys-color-on-primary-container-dark: 216, 237, 124;
  --md-sys-color-primary-fixed-dark: 216, 237, 124;
  --md-sys-color-on-primary-fixed-dark: 24, 30, 0;
  --md-sys-color-primary-fixed-dim-dark: 188, 208, 99;
  --md-sys-color-on-primary-fixed-variant-dark: 64, 76, 0;
  --md-sys-color-secondary-dark: 197, 201, 168;
  --md-sys-color-on-secondary-dark: 46, 51, 27;
  --md-sys-color-secondary-container-dark: 69, 73, 47;
  --md-sys-color-on-secondary-container-dark: 225, 230, 195;
  --md-sys-color-secondary-fixed-dark: 225, 230, 195;
  --md-sys-color-on-secondary-fixed-dark: 25, 29, 8;
  --md-sys-color-secondary-fixed-dim-dark: 197, 201, 168;
  --md-sys-color-on-secondary-fixed-variant-dark: 69, 73, 47;
  --md-sys-color-tertiary-dark: 161, 208, 196;
  --md-sys-color-on-tertiary-dark: 4, 55, 47;
  --md-sys-color-tertiary-container-dark: 33, 78, 69;
  --md-sys-color-on-tertiary-container-dark: 189, 236, 223;
  --md-sys-color-tertiary-fixed-dark: 189, 236, 223;
  --md-sys-color-on-tertiary-fixed-dark: 0, 32, 27;
  --md-sys-color-tertiary-fixed-dim-dark: 161, 208, 196;
  --md-sys-color-on-tertiary-fixed-variant-dark: 33, 78, 69;
  --md-sys-color-error-dark: 255, 180, 171;
  --md-sys-color-error-container-dark: 147, 0, 10;
  --md-sys-color-on-error-dark: 105, 0, 5;
  --md-sys-color-on-error-container-dark: 255, 218, 214;
  --md-sys-color-background-dark: 27, 28, 23;
  --md-sys-color-on-background-dark: 229, 226, 218;
  --md-sys-color-outline-dark: 145, 146, 131;
  --md-sys-color-inverse-on-surface-dark: 27, 28, 23;
  --md-sys-color-inverse-surface-dark: 229, 226, 218;
  --md-sys-color-inverse-primary-dark: 85, 101, 0;
  --md-sys-color-shadow-dark: 0, 0, 0;
  --md-sys-color-surface-tint-dark: 188, 208, 99;
  --md-sys-color-outline-variant-dark: 70, 72, 60;
  --md-sys-color-scrim-dark: 0, 0, 0;
  --md-sys-color-surface-dark: 19, 20, 15;
  --md-sys-color-on-surface-dark: 200, 199, 191;
  --md-sys-color-surface-variant-dark: 70, 72, 60;
  --md-sys-color-on-surface-variant-dark: 199, 200, 183;
  --md-sys-color-surface-container-highest-dark: 53, 53, 48;
  --md-sys-color-surface-container-high-dark: 42, 42, 37;
  --md-sys-color-surface-container-dark: 32, 32, 27;
  --md-sys-color-surface-container-low-dark: 27, 28, 23;
  --md-sys-color-surface-container-lowest-dark: 14, 15, 10;
  --md-sys-color-surface-dim-dark: 19, 20, 15;
  --md-sys-color-surface-bright-dark: 57, 57, 52;
}
