:root {
  --md-source: 103, 80, 164;
  /* light */
  --md-sys-color-primary-light: 103, 80, 164;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 233, 221, 255;
  --md-sys-color-on-primary-container-light: 34, 0, 93;
  --md-sys-color-primary-fixed-light: 233, 221, 255;
  --md-sys-color-on-primary-fixed-light: 34, 0, 93;
  --md-sys-color-primary-fixed-dim-light: 207, 188, 255;
  --md-sys-color-on-primary-fixed-variant-light: 79, 55, 138;
  --md-sys-color-secondary-light: 98, 91, 113;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 232, 222, 248;
  --md-sys-color-on-secondary-container-light: 30, 25, 43;
  --md-sys-color-secondary-fixed-light: 232, 222, 248;
  --md-sys-color-on-secondary-fixed-light: 30, 25, 43;
  --md-sys-color-secondary-fixed-dim-light: 203, 194, 219;
  --md-sys-color-on-secondary-fixed-variant-light: 74, 68, 88;
  --md-sys-color-tertiary-light: 126, 82, 96;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 255, 217, 227;
  --md-sys-color-on-tertiary-container-light: 49, 16, 29;
  --md-sys-color-tertiary-fixed-light: 255, 217, 227;
  --md-sys-color-on-tertiary-fixed-light: 49, 16, 29;
  --md-sys-color-tertiary-fixed-dim-light: 239, 184, 200;
  --md-sys-color-on-tertiary-fixed-variant-light: 99, 59, 72;
  --md-sys-color-error-light: 186, 26, 26;
  --md-sys-color-error-container-light: 255, 218, 214;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-on-error-container-light: 65, 0, 2;
  --md-sys-color-background-light: 255, 251, 255;
  --md-sys-color-on-background-light: 28, 27, 30;
  --md-sys-color-outline-light: 122, 117, 127;
  --md-sys-color-inverse-on-surface-light: 244, 239, 244;
  --md-sys-color-inverse-surface-light: 49, 48, 51;
  --md-sys-color-inverse-primary-light: 207, 188, 255;
  --md-sys-color-shadow-light: 0, 0, 0;
  --md-sys-color-surface-tint-light: 103, 80, 164;
  --md-sys-color-outline-variant-light: 202, 196, 207;
  --md-sys-color-scrim-light: 0, 0, 0;
  --md-sys-color-surface-light: 253, 248, 253;
  --md-sys-color-on-surface-light: 28, 27, 30;
  --md-sys-color-surface-variant-light: 231, 224, 235;
  --md-sys-color-on-surface-variant-light: 73, 69, 78;
  --md-sys-color-surface-container-highest-light: 230, 225, 230;
  --md-sys-color-surface-container-high-light: 236, 231, 235;
  --md-sys-color-surface-container-light: 242, 236, 241;
  --md-sys-color-surface-container-low-light: 247, 242, 247;
  --md-sys-color-surface-container-lowest-light: 255, 255, 255;
  --md-sys-color-surface-dim-light: 221, 216, 221;
  --md-sys-color-surface-bright-light: 253, 248, 253;
  /* dark */
  --md-sys-color-primary-dark: 207, 188, 255;
  --md-sys-color-on-primary-dark: 56, 30, 114;
  --md-sys-color-primary-container-dark: 79, 55, 138;
  --md-sys-color-on-primary-container-dark: 233, 221, 255;
  --md-sys-color-primary-fixed-dark: 233, 221, 255;
  --md-sys-color-on-primary-fixed-dark: 34, 0, 93;
  --md-sys-color-primary-fixed-dim-dark: 207, 188, 255;
  --md-sys-color-on-primary-fixed-variant-dark: 79, 55, 138;
  --md-sys-color-secondary-dark: 203, 194, 219;
  --md-sys-color-on-secondary-dark: 51, 45, 65;
  --md-sys-color-secondary-container-dark: 74, 68, 88;
  --md-sys-color-on-secondary-container-dark: 232, 222, 248;
  --md-sys-color-secondary-fixed-dark: 232, 222, 248;
  --md-sys-color-on-secondary-fixed-dark: 30, 25, 43;
  --md-sys-color-secondary-fixed-dim-dark: 203, 194, 219;
  --md-sys-color-on-secondary-fixed-variant-dark: 74, 68, 88;
  --md-sys-color-tertiary-dark: 239, 184, 200;
  --md-sys-color-on-tertiary-dark: 74, 37, 50;
  --md-sys-color-tertiary-container-dark: 99, 59, 72;
  --md-sys-color-on-tertiary-container-dark: 255, 217, 227;
  --md-sys-color-tertiary-fixed-dark: 255, 217, 227;
  --md-sys-color-on-tertiary-fixed-dark: 49, 16, 29;
  --md-sys-color-tertiary-fixed-dim-dark: 239, 184, 200;
  --md-sys-color-on-tertiary-fixed-variant-dark: 99, 59, 72;
  --md-sys-color-error-dark: 255, 180, 171;
  --md-sys-color-error-container-dark: 147, 0, 10;
  --md-sys-color-on-error-dark: 105, 0, 5;
  --md-sys-color-on-error-container-dark: 255, 218, 214;
  --md-sys-color-background-dark: 28, 27, 30;
  --md-sys-color-on-background-dark: 230, 225, 230;
  --md-sys-color-outline-dark: 148, 143, 153;
  --md-sys-color-inverse-on-surface-dark: 28, 27, 30;
  --md-sys-color-inverse-surface-dark: 230, 225, 230;
  --md-sys-color-inverse-primary-dark: 103, 80, 164;
  --md-sys-color-shadow-dark: 0, 0, 0;
  --md-sys-color-surface-tint-dark: 207, 188, 255;
  --md-sys-color-outline-variant-dark: 73, 69, 78;
  --md-sys-color-scrim-dark: 0, 0, 0;
  --md-sys-color-surface-dark: 20, 19, 22;
  --md-sys-color-on-surface-dark: 202, 197, 202;
  --md-sys-color-surface-variant-dark: 73, 69, 78;
  --md-sys-color-on-surface-variant-dark: 202, 196, 207;
  --md-sys-color-surface-container-highest-dark: 54, 52, 56;
  --md-sys-color-surface-container-high-dark: 43, 41, 45;
  --md-sys-color-surface-container-dark: 32, 31, 34;
  --md-sys-color-surface-container-low-dark: 28, 27, 30;
  --md-sys-color-surface-container-lowest-dark: 15, 14, 17;
  --md-sys-color-surface-dim-dark: 20, 19, 22;
  --md-sys-color-surface-bright-dark: 58, 56, 60;
}
