:root {
  --md-source: 187, 38, 73;
  /* primary */
  --md-ref-palette-primary0: 0, 0, 0;
  --md-ref-palette-primary4: 39, 0, 7;
  --md-ref-palette-primary5: 44, 0, 9;
  --md-ref-palette-primary6: 49, 0, 10;
  --md-ref-palette-primary10: 64, 0, 16;
  --md-ref-palette-primary12: 72, 0, 19;
  --md-ref-palette-primary17: 91, 0, 27;
  --md-ref-palette-primary20: 103, 0, 31;
  --md-ref-palette-primary22: 111, 0, 35;
  --md-ref-palette-primary24: 120, 0, 38;
  --md-ref-palette-primary25: 124, 0, 39;
  --md-ref-palette-primary30: 145, 0, 48;
  --md-ref-palette-primary35: 163, 16, 58;
  --md-ref-palette-primary40: 181, 32, 69;
  --md-ref-palette-primary50: 215, 60, 92;
  --md-ref-palette-primary60: 249, 86, 116;
  --md-ref-palette-primary70: 255, 135, 150;
  --md-ref-palette-primary80: 255, 178, 186;
  --md-ref-palette-primary87: 255, 206, 210;
  --md-ref-palette-primary90: 255, 217, 220;
  --md-ref-palette-primary92: 255, 225, 227;
  --md-ref-palette-primary94: 255, 233, 234;
  --md-ref-palette-primary95: 255, 236, 237;
  --md-ref-palette-primary96: 255, 240, 240;
  --md-ref-palette-primary98: 255, 248, 247;
  --md-ref-palette-primary99: 255, 251, 255;
  --md-ref-palette-primary100: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0: 0, 0, 0;
  --md-ref-palette-secondary4: 28, 8, 11;
  --md-ref-palette-secondary5: 31, 10, 13;
  --md-ref-palette-secondary6: 34, 13, 16;
  --md-ref-palette-secondary10: 44, 21, 24;
  --md-ref-palette-secondary12: 48, 25, 27;
  --md-ref-palette-secondary17: 60, 35, 38;
  --md-ref-palette-secondary20: 67, 41, 44;
  --md-ref-palette-secondary22: 72, 45, 48;
  --md-ref-palette-secondary24: 77, 50, 52;
  --md-ref-palette-secondary25: 80, 52, 55;
  --md-ref-palette-secondary30: 92, 63, 66;
  --md-ref-palette-secondary35: 105, 74, 77;
  --md-ref-palette-secondary40: 118, 86, 89;
  --md-ref-palette-secondary50: 145, 110, 113;
  --md-ref-palette-secondary60: 172, 136, 138;
  --md-ref-palette-secondary70: 200, 162, 165;
  --md-ref-palette-secondary80: 229, 189, 191;
  --md-ref-palette-secondary87: 250, 208, 211;
  --md-ref-palette-secondary90: 255, 217, 220;
  --md-ref-palette-secondary92: 255, 225, 227;
  --md-ref-palette-secondary94: 255, 233, 234;
  --md-ref-palette-secondary95: 255, 236, 237;
  --md-ref-palette-secondary96: 255, 240, 240;
  --md-ref-palette-secondary98: 255, 248, 247;
  --md-ref-palette-secondary99: 255, 251, 255;
  --md-ref-palette-secondary100: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0: 0, 0, 0;
  --md-ref-palette-tertiary4: 24, 11, 0;
  --md-ref-palette-tertiary5: 28, 14, 0;
  --md-ref-palette-tertiary6: 31, 16, 0;
  --md-ref-palette-tertiary10: 42, 24, 0;
  --md-ref-palette-tertiary12: 47, 27, 0;
  --md-ref-palette-tertiary17: 61, 37, 2;
  --md-ref-palette-tertiary20: 68, 43, 6;
  --md-ref-palette-tertiary22: 73, 48, 10;
  --md-ref-palette-tertiary24: 78, 52, 15;
  --md-ref-palette-tertiary25: 81, 54, 17;
  --md-ref-palette-tertiary30: 93, 65, 27;
  --md-ref-palette-tertiary35: 106, 77, 37;
  --md-ref-palette-tertiary40: 120, 89, 48;
  --md-ref-palette-tertiary50: 147, 113, 70;
  --md-ref-palette-tertiary60: 175, 138, 93;
  --md-ref-palette-tertiary70: 203, 165, 117;
  --md-ref-palette-tertiary80: 232, 192, 142;
  --md-ref-palette-tertiary87: 253, 211, 160;
  --md-ref-palette-tertiary90: 255, 221, 182;
  --md-ref-palette-tertiary92: 255, 228, 198;
  --md-ref-palette-tertiary94: 255, 235, 214;
  --md-ref-palette-tertiary95: 255, 238, 221;
  --md-ref-palette-tertiary96: 255, 241, 229;
  --md-ref-palette-tertiary98: 255, 248, 244;
  --md-ref-palette-tertiary99: 255, 251, 255;
  --md-ref-palette-tertiary100: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0: 0, 0, 0;
  --md-ref-palette-neutral4: 18, 13, 13;
  --md-ref-palette-neutral5: 21, 16, 16;
  --md-ref-palette-neutral6: 24, 18, 18;
  --md-ref-palette-neutral10: 32, 26, 26;
  --md-ref-palette-neutral12: 36, 30, 30;
  --md-ref-palette-neutral17: 47, 40, 41;
  --md-ref-palette-neutral20: 54, 47, 47;
  --md-ref-palette-neutral22: 58, 51, 51;
  --md-ref-palette-neutral24: 63, 55, 56;
  --md-ref-palette-neutral25: 65, 58, 58;
  --md-ref-palette-neutral30: 77, 69, 69;
  --md-ref-palette-neutral35: 89, 80, 81;
  --md-ref-palette-neutral40: 101, 92, 93;
  --md-ref-palette-neutral50: 126, 117, 117;
  --md-ref-palette-neutral60: 153, 142, 142;
  --md-ref-palette-neutral70: 180, 169, 169;
  --md-ref-palette-neutral80: 208, 196, 196;
  --md-ref-palette-neutral87: 228, 215, 215;
  --md-ref-palette-neutral90: 236, 224, 224;
  --md-ref-palette-neutral92: 242, 229, 229;
  --md-ref-palette-neutral94: 248, 235, 235;
  --md-ref-palette-neutral95: 251, 238, 238;
  --md-ref-palette-neutral96: 254, 241, 241;
  --md-ref-palette-neutral98: 255, 248, 247;
  --md-ref-palette-neutral99: 255, 251, 255;
  --md-ref-palette-neutral100: 255, 255, 255;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: 0, 0, 0;
  --md-ref-palette-neutral-variant4: 22, 11, 12;
  --md-ref-palette-neutral-variant5: 25, 14, 15;
  --md-ref-palette-neutral-variant6: 27, 16, 17;
  --md-ref-palette-neutral-variant10: 36, 24, 26;
  --md-ref-palette-neutral-variant12: 41, 28, 29;
  --md-ref-palette-neutral-variant17: 52, 39, 40;
  --md-ref-palette-neutral-variant20: 58, 45, 46;
  --md-ref-palette-neutral-variant22: 63, 49, 50;
  --md-ref-palette-neutral-variant24: 68, 54, 55;
  --md-ref-palette-neutral-variant25: 70, 56, 57;
  --md-ref-palette-neutral-variant30: 82, 67, 68;
  --md-ref-palette-neutral-variant35: 94, 79, 80;
  --md-ref-palette-neutral-variant40: 107, 90, 91;
  --md-ref-palette-neutral-variant50: 132, 115, 116;
  --md-ref-palette-neutral-variant60: 159, 140, 141;
  --md-ref-palette-neutral-variant70: 187, 166, 167;
  --md-ref-palette-neutral-variant80: 215, 193, 194;
  --md-ref-palette-neutral-variant87: 235, 213, 214;
  --md-ref-palette-neutral-variant90: 244, 221, 222;
  --md-ref-palette-neutral-variant92: 250, 227, 228;
  --md-ref-palette-neutral-variant94: 255, 233, 234;
  --md-ref-palette-neutral-variant95: 255, 236, 237;
  --md-ref-palette-neutral-variant96: 255, 240, 240;
  --md-ref-palette-neutral-variant98: 255, 248, 247;
  --md-ref-palette-neutral-variant99: 255, 251, 255;
  --md-ref-palette-neutral-variant100: 255, 255, 255;
  /* error */
  --md-ref-palette-error0: 0, 0, 0;
  --md-ref-palette-error4: 40, 0, 1;
  --md-ref-palette-error5: 45, 0, 1;
  --md-ref-palette-error6: 49, 0, 1;
  --md-ref-palette-error10: 65, 0, 2;
  --md-ref-palette-error12: 73, 0, 2;
  --md-ref-palette-error17: 92, 0, 4;
  --md-ref-palette-error20: 105, 0, 5;
  --md-ref-palette-error22: 113, 0, 5;
  --md-ref-palette-error24: 121, 0, 6;
  --md-ref-palette-error25: 126, 0, 7;
  --md-ref-palette-error30: 147, 0, 10;
  --md-ref-palette-error35: 168, 7, 16;
  --md-ref-palette-error40: 186, 26, 26;
  --md-ref-palette-error50: 222, 55, 48;
  --md-ref-palette-error60: 255, 84, 73;
  --md-ref-palette-error70: 255, 137, 125;
  --md-ref-palette-error80: 255, 180, 171;
  --md-ref-palette-error87: 255, 207, 201;
  --md-ref-palette-error90: 255, 218, 214;
  --md-ref-palette-error92: 255, 226, 222;
  --md-ref-palette-error94: 255, 233, 230;
  --md-ref-palette-error95: 255, 237, 234;
  --md-ref-palette-error96: 255, 240, 238;
  --md-ref-palette-error98: 255, 248, 247;
  --md-ref-palette-error99: 255, 251, 255;
  --md-ref-palette-error100: 255, 255, 255;
  /* light */
  --md-sys-color-primary-light: 181, 32, 69;
  --md-sys-color-on-primary-light: 255, 255, 255;
  --md-sys-color-primary-container-light: 255, 217, 220;
  --md-sys-color-on-primary-container-light: 64, 0, 16;
  --md-sys-color-primary-fixed-light: 255, 217, 220;
  --md-sys-color-on-primary-fixed-light: 64, 0, 16;
  --md-sys-color-primary-fixed-dim-light: 255, 178, 186;
  --md-sys-color-on-primary-fixed-variant-light: 145, 0, 48;
  --md-sys-color-secondary-light: 118, 86, 89;
  --md-sys-color-on-secondary-light: 255, 255, 255;
  --md-sys-color-secondary-container-light: 255, 217, 220;
  --md-sys-color-on-secondary-container-light: 44, 21, 24;
  --md-sys-color-secondary-fixed-light: 255, 217, 220;
  --md-sys-color-on-secondary-fixed-light: 44, 21, 24;
  --md-sys-color-secondary-fixed-dim-light: 229, 189, 191;
  --md-sys-color-on-secondary-fixed-variant-light: 92, 63, 66;
  --md-sys-color-tertiary-light: 120, 89, 48;
  --md-sys-color-on-tertiary-light: 255, 255, 255;
  --md-sys-color-tertiary-container-light: 255, 221, 182;
  --md-sys-color-on-tertiary-container-light: 42, 24, 0;
  --md-sys-color-tertiary-fixed-light: 255, 221, 182;
  --md-sys-color-on-tertiary-fixed-light: 42, 24, 0;
  --md-sys-color-tertiary-fixed-dim-light: 232, 192, 142;
  --md-sys-color-on-tertiary-fixed-variant-light: 93, 65, 27;
  --md-sys-color-error-light: 186, 26, 26;
  --md-sys-color-error-container-light: 255, 218, 214;
  --md-sys-color-on-error-light: 255, 255, 255;
  --md-sys-color-on-error-container-light: 65, 0, 2;
  --md-sys-color-background-light: 255, 251, 255;
  --md-sys-color-on-background-light: 32, 26, 26;
  --md-sys-color-outline-light: 132, 115, 116;
  --md-sys-color-inverse-on-surface-light: 251, 238, 238;
  --md-sys-color-inverse-surface-light: 54, 47, 47;
  --md-sys-color-inverse-primary-light: 255, 178, 186;
  --md-sys-color-shadow-light: 0, 0, 0;
  --md-sys-color-surface-tint-light: 181, 32, 69;
  --md-sys-color-outline-variant-light: 215, 193, 194;
  --md-sys-color-scrim-light: 0, 0, 0;
  --md-sys-color-surface-light: 255, 248, 247;
  --md-sys-color-on-surface-light: 32, 26, 26;
  --md-sys-color-surface-variant-light: 244, 221, 222;
  --md-sys-color-on-surface-variant-light: 82, 67, 68;
  --md-sys-color-surface-container-highest-light: 236, 224, 224;
  --md-sys-color-surface-container-high-light: 242, 229, 229;
  --md-sys-color-surface-container-light: 248, 235, 235;
  --md-sys-color-surface-container-low-light: 254, 241, 241;
  --md-sys-color-surface-container-lowest-light: 255, 255, 255;
  --md-sys-color-surface-dim-light: 228, 215, 215;
  --md-sys-color-surface-bright-light: 255, 248, 247;
  /* dark */
  --md-sys-color-primary-dark: 255, 178, 186;
  --md-sys-color-on-primary-dark: 103, 0, 31;
  --md-sys-color-primary-container-dark: 145, 0, 48;
  --md-sys-color-on-primary-container-dark: 255, 217, 220;
  --md-sys-color-primary-fixed-dark: 255, 217, 220;
  --md-sys-color-on-primary-fixed-dark: 64, 0, 16;
  --md-sys-color-primary-fixed-dim-dark: 255, 178, 186;
  --md-sys-color-on-primary-fixed-variant-dark: 145, 0, 48;
  --md-sys-color-secondary-dark: 229, 189, 191;
  --md-sys-color-on-secondary-dark: 67, 41, 44;
  --md-sys-color-secondary-container-dark: 92, 63, 66;
  --md-sys-color-on-secondary-container-dark: 255, 217, 220;
  --md-sys-color-secondary-fixed-dark: 255, 217, 220;
  --md-sys-color-on-secondary-fixed-dark: 44, 21, 24;
  --md-sys-color-secondary-fixed-dim-dark: 229, 189, 191;
  --md-sys-color-on-secondary-fixed-variant-dark: 92, 63, 66;
  --md-sys-color-tertiary-dark: 232, 192, 142;
  --md-sys-color-on-tertiary-dark: 68, 43, 6;
  --md-sys-color-tertiary-container-dark: 93, 65, 27;
  --md-sys-color-on-tertiary-container-dark: 255, 221, 182;
  --md-sys-color-tertiary-fixed-dark: 255, 221, 182;
  --md-sys-color-on-tertiary-fixed-dark: 42, 24, 0;
  --md-sys-color-tertiary-fixed-dim-dark: 232, 192, 142;
  --md-sys-color-on-tertiary-fixed-variant-dark: 93, 65, 27;
  --md-sys-color-error-dark: 255, 180, 171;
  --md-sys-color-error-container-dark: 147, 0, 10;
  --md-sys-color-on-error-dark: 105, 0, 5;
  --md-sys-color-on-error-container-dark: 255, 218, 214;
  --md-sys-color-background-dark: 32, 26, 26;
  --md-sys-color-on-background-dark: 236, 224, 224;
  --md-sys-color-outline-dark: 159, 140, 141;
  --md-sys-color-inverse-on-surface-dark: 32, 26, 26;
  --md-sys-color-inverse-surface-dark: 236, 224, 224;
  --md-sys-color-inverse-primary-dark: 181, 32, 69;
  --md-sys-color-shadow-dark: 0, 0, 0;
  --md-sys-color-surface-tint-dark: 255, 178, 186;
  --md-sys-color-outline-variant-dark: 82, 67, 68;
  --md-sys-color-scrim-dark: 0, 0, 0;
  --md-sys-color-surface-dark: 24, 18, 18;
  --md-sys-color-on-surface-dark: 208, 196, 196;
  --md-sys-color-surface-variant-dark: 82, 67, 68;
  --md-sys-color-on-surface-variant-dark: 215, 193, 194;
  --md-sys-color-surface-container-highest-dark: 58, 51, 51;
  --md-sys-color-surface-container-high-dark: 47, 40, 41;
  --md-sys-color-surface-container-dark: 36, 30, 30;
  --md-sys-color-surface-container-low-dark: 32, 26, 26;
  --md-sys-color-surface-container-lowest-dark: 18, 13, 13;
  --md-sys-color-surface-dim-dark: 24, 18, 18;
  --md-sys-color-surface-bright-dark: 63, 55, 56;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
